# Node.js dependencies
node_modules/
npm-debug.log
.env
.next/
out/
build/
dist/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
env/
venv/
.venv/
pyrsc/

# OS specific files
.DS_Store
Thumbs.db

# Android JADX decompiler temp files
**/decompiled_src/
**/jadx_temp/

# Firebase Admin Service Account Credentials
**/firebase-service-account.json
**/google-services-private-key.json
*service-account*.json
